* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'ZCOOL XiaoWei', serif;

}
#menubar {
	background-color: #ffad99;
	height: 120px;
}
#jntc {
	line-height: 130px;
	font-size: 70px;
	padding-left: 2%;
	color: white;
	text-decoration: none;

}
#login {
	font-size: 20px;
	padding-left: 80%;
	color: white;
	text-decoration: none;
}
#register {
	font-size: 20px;
	padding-left: 1.5%;
	color: white;
	text-decoration: none;
}
#mainbody {
	padding-bottom: 50px;
}
#form {
	font-size: 30px;
	padding-left: 650px;
	line-height: 100px;
}
#box {
	background-color: #1a1a1a;
	width: 700px;
	margin: 0px auto;
	border-radius: 20px;
	padding: 40px;
}
.label {
	color: white;
	font-size: 20px;
	line-height: 50px;
}
.input {
	width: 250px;
}
#emaillabel {
	padding-left: 125px;
}
#passwordlabel {
padding-left: 90px;
}
#confirmpasslabel {
	padding-left: 15px;
}
.division {
	margin-top: 40px;
}
.header {
	font-size: 25px;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
}
#fnlabel {
	padding-left: 80px;
}
#lnlabel {
	padding-left: 80px;
}
#genderlabel {
	padding-left: 100px;
}
.mfu {
	font-size: 15px;
	color: white;
	padding-left: 200px;
}
#birthdate {
	padding-left: 90px;
}
#continent {
	padding-left: 85px;
}
.pstable {
	color: white;
	padding-left: 200px;
	padding-top: 50px;
}
#aytext {
	margin: 20px;
	width: 580px;
	height: 200px;
}
#submit {
	/*float: right;*/
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 520px;
}
#sub {
	width: 100px;
}
#footer {
	background-color: #ffad99;
	height: 100px;
}
#hpmainbody {
	height: 750px;
}
#hpimage {
	margin-top: 9.5%;
	margin-left: 34%;
}
#loginbox {
	background-color: #1a1a1a;
	width: 700px;
	height: 300px;
	margin: 0px auto;
	border-radius: 20px;
}
#loginmainbody {
	height: 750px;
	padding-top: 11.5%;
}
#loginemail {
	padding-left: 15%;
}#loginpass {
	padding-left: 10%;
}
#lisubmit {
	width: 100px;
}
#button {
	padding-left: 155px;
	padding-top: 20px;
}
#age {
	padding-left: 140px;
}
#libutton {
	width: 100px;
}
#libmother {
	padding-left: 340px;
}
#field {
	padding-left: 20px;
	padding-bottom: 20px;
}